<div class="signup-container">
    <div class="example-form">
        <form [formGroup]="signupForm" (ngSubmit)="signupSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>firstname</mat-label>
                <input matInput placeholder="Ex. Pizza" formControlName="firstname" type="text">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>lastname</mat-label>
                <input matInput placeholder="Ex. Pizza" formControlName="lastname" type="text">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Ex. abc@gmail.com" formControlName="email" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Ex. Pizza" formControlName="password" type="password">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>confirmpassword</mat-label>
                <input matInput placeholder="Ex. Pizza" formControlName="confirmpassword" type="password">
            </mat-form-field>
            <div class="buttons-container">
                <button mat-raised-button color="primary" type="submit">signup</button>
            </div>
        </form>
        <div class="icons-container">
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                <img src="../../../assets/googleicon.png">
            </button>
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                <img src="../../../assets/githubicon.png">
            </button>
        </div>
    </div>
</div>
