<div class="cart-container">
    <div class="cart-innercontainer">
        <div class="cart-list">
            <div class="cart-pincode">
                <p>The added products deliver to: {{ pincode }}</p>
                <button (click)="openDialog()">Enter Delivery pincode</button>
            </div>
            <div class="card">
                <ng-container *ngFor="let data of cartData">
                    <div class="card-items">
                        <img src="{{data.thumbnail}}" class="fav-image">
                        <div class="fav-desc">
                            {{data.description}}
                            <div class="faviorate-buttons">
                                <button mat-raised-button color="primary" (click)="saveforLater(data.id)">Save for
                                    Later</button>
                                <button mat-raised-button color="warn"
                                    (click)="deleteFaviorate(data.id)">Delete</button>
                            </div>
                        </div>
                        <div class="add-count">
                            <mat-icon class="add" (click)="data.ordercount = data.ordercount + 1"
                                  [ngClass]="{'disabled': data.ordercount >= data.stock}" >add_circle</mat-icon>
                            <input type="number" [(ngModel)]="data.ordercount" class="-countnumber" min="0"
                                max="{{data.stock}}">
                            <mat-icon class="remove" (click)="data.ordercount = data.ordercount - 1"
                                 [ngClass]="{'disabled': data.ordercount <=  0}">remove_circle</mat-icon>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="cart-pricedetails">
            <div class="price-container">
                <div class="price-header">
                    <p>Totoal header</p>
                </div>
                <div class="price-details">
                    <p>Total no of Items: {{cartData.length}}</p>
                    <h2>Total Price: ₹ {{totalPrice | number: '1.2-2'}}</h2>
                </div>
            </div>
            <div class="pay-button">
                <button mat-raised-button color="warn" (click)="payTotalCart()">PayasWhole</button>
            </div>
        </div>
    </div>
</div>